@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  transform: rotate(-35deg) scale(1, -1);
}

.test {
  height: calc(100vh - 8.75rem);
}

@media (min-width: 768px) {
  .test {
    height: calc(100vh - 4.291875rem);
  }
}
